

body{
    background-color: black;
       
    }
    
    
    h1{
        color:  #00FFFF;
       
    }
    
    
    h4{
        color:  #7FFFD4;
       
    }
    
    
    span{
        color: #8A2BE2;
        padding-left:80px;
        padding-right:80px;
    }
    
    
    img{
        height: 200px;
        width: 250px;
        border-color:  #FF69B4;
        border-style: double;
    }
    
    
    
    